# Fyers API Credentials
CLIENT_ID = "YOUR_CLIENT_ID"
SECRET_KEY = "YOUR_SECRET_KEY"
REDIRECT_URI = "YOUR_REDIRECT_URI"

# Trading Parameters
TICKER = "NSE:SBIN-EQ"
TIMEFRAME = "5"  # "1", "5", "15", "60", "D"
SHORT_MA_PERIOD = 11
MEDIUM_MA_PERIOD = 23
LONG_MA_PERIOD = 50
MAX_TRADES = 10
TRADE_TYPE = "Equity"  # "Equity" or "Options"
OPTION_TYPE = "Call"  # "Call" or "Put"
QUANTITY = 1
EXPIRY_DATE = "2024-12-31"  # YYYY-MM-DD
PRODUCT_TYPE = "INTRADAY" # "INTRADAY", "CNC", "MARGIN", "CO", "BO"
